

img {
    max-width: 600px;

    width: 100%;
}

iframe {
    max-width: 600px;
    width: 100%;
}

.avatar-text {
    height: 1em;
    width: 1em;
}

body {
    background-color: black;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10em' width='10em'><text x='0' y='1em' fill='gainsboro' font-size='1em'>BORDSMP</text></svg>");
}

.bd {
    
    width: 22.4em;
    height: 7.5em;
    top: 40%;
    left: 50%;
    margin-top: -3.75em;
    margin-left: -11.2em;
    position: absolute;
    font-family: monospace;
    background-color: gainsboro;
    outline: 1px solid black;
    padding: .5em;
}

button {
    font-family: monospace;
}

input {
    font-family: monospace; 
    width: 4em;
}