body {
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    font-family: monospace;
    background-color: gainsboro;
}

img {
    max-width: 600px;

    width: 100%;
}

.avatar-text {
    height: 1em;
    width: 1em;
}